@font-face {
    font-family: 'Press Start 2P'; /* Гарнитура шрифта */
    src: url(../Assets/Fonts/PressStart2P-Regular.ttf); /* Путь к файлу со шрифтом */
   }

body {
	background-color: black;
	color: #fff;
	width:  100%;
	height: 100%;

	padding: 0;
	margin:  0;

    box-sizing: border-box;
	font-family: 'Press Start 2P';
	font-size: 0.76em;
}

#QRAscii
{
	text-align: justify;
	/* vertical-align: center; */
}